#pragma code_page(65001)

#include <winresrc.h>
#include "resource.h"

IDD_MAIN_WINDOW DIALOGEX 0, 0, 760, 320
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
EXSTYLE WS_EX_APPWINDOW
CAPTION "Hotkey Blocker"
FONT 9, "Segoe UI"
BEGIN
    CONTROL         "", IDC_APP_LIST, "SysListView32", LVS_REPORT | WS_BORDER | WS_TABSTOP, 8, 8, 744, 270
    PUSHBUTTON      "添加 EXE", IDC_ADD_EXECUTABLE, 8, 286, 72, 16
    PUSHBUTTON      "添加文件夹", IDC_ADD_FOLDER, 84, 286, 82, 16
    PUSHBUTTON      "删除", IDC_DELETE_APP, 170, 286, 42, 16
    PUSHBUTTON      "启用/停用", IDC_TOGGLE_APP, 216, 286, 68, 16
    AUTOCHECKBOX    "登录时启动", IDC_AUTOSTART, 292, 286, 90, 16
    LTEXT           "列表为空，请添加要拦截的 EXE 或文件夹", IDC_HELP_TEXT, 390, 286, 362, 16, SS_RIGHT
END

IDR_TRAY_MENU MENU
BEGIN
    POPUP "Tray"
    BEGIN
        MENUITEM "显示窗口", ID_TRAY_SHOW
        MENUITEM SEPARATOR
        MENUITEM "退出", ID_TRAY_EXIT
    END
END
